html {
    font-family: "Noto Sans", sans-serif; 
  }

  h2{
    font-size: 35px;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

  html{ background-color: #CFDDA0;
}

 p {color:azure
}

header{color: azure;
font-size: 10px;}

h2{color: #CFDDA0;
text-align: start;}

h1{color: #f5534d;}

h1 {
    font-size: 45px;
    text-align: left;
  }

  p {text-align: justify;
    margin-left: 400px;
 }

img{
        width: 300px;
        display: block;
        margin-left: 10px;
}

body{
    padding: 20px 20px 20px 20px;
    border: 5px;
    border-color: #f5534d;
    background-color: #000B27;
}
.pauzinho{
  position: relative;
  bottom: 100px;

}
