html {
    font-family: "Noto Sans", sans-serif; 
  }

  h2{
    font-size: 35px;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

  html{ background-color: #000B27;
}

 p {color:azure
}

 p {text-align: justify;
    width: 800px;
 }

header{color: azure;
font-size: 10px;}

h2{color: #CFDDA0;
text-align: start;}

h1{color: #f5534d;}

img{
    width: 300px;
    display: block;
    margin-left: 850px;
}
html{
    margin-left: 10px;
}

h1 {
    font-size: 50px;
    text-align: left;
  }
  